@model IEnumerable<ProjektBartoszRuta.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (ViewContext.RouteData.Values["id"] != null)
    {
        <span>Showing Actors for @Html.ActionLink(Model.ElementAt(0).UseCaseDiagram.Name, "Details", "UseCaseDiagrams", new { id = ViewContext.RouteData.Values["id"] }, null)</span><br />
        @Html.ActionLink("Create New", "Create", new { id = ViewContext.RouteData.Values["id"] })
    }
    else
    {
        @Html.ActionLink("Create New", "Create");
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UseCaseDiagramID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UseCaseDiagram.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
